body{
  margin: 0;
  padding: 0;
}

.banner-box{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://img.freepik.com/premium-photo/cube-computing-technology-cloud-data-internet-security_505353-644.jpg?size=626&ext=jpg&ga=GA1.2.926599739.1668011211&semt=sph');
}

.banner-text{
  font-size: 40px;
  color: #fff;
}